@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Montserrat:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    background-color: #05668d;
    color: #02c39a;
    text-decoration: none;
    padding: 10px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

main section {
    text-align: center;
}

#hero-box {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #05668d;
}

body {
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
    background-color: #028090;
}

h2 {
    margin: 0;
}

header {
    background-color: #05668d;
}

nav a:hover {
    background-color: #02c39a;
    color: black; 
    text-decoration: none;
}

.book, .join {
    background-color: #02c39a;
    padding: 15px 30px;
}

.book:hover, .join:hover {
    background-color: #028090;
}

.msg {
    line-height: 1.5em;
    background-color: #00a896;
    padding: 35px;
}

footer {
    background-color: #00a896;
    padding: 25px 50px;
    margin-top: 200px;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    font-family: "Comfortaa";
    font-size: 2em;
    background-color: #028090;
    color: black;
    margin-top: 10px;
} 

h4 {
    background-color: #028090;
    color: black;
}

.book, .join {
    font-size: 18px;
    background-color: #05668d;
    color: white;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 5px;
}

.msg h2 {
    font-family: "Comfortaa";
    background-color: #00a896;
    color: black;
}

.msg p {
    font-size: 0.8em;
    background-color: #00a896;
    color: black;
    padding: 25px 50px;
}

footer h3 {
    background-color: #00a896;
    color: black;
    text-decoration: underline;
}

footer a {
    background-color: #00a896;
    color: black;
    text-decoration: none;
}

footer a:hover {
    background-color: #028090;
    color: black;
}

.logo {
    width: 100px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

a:hover {
    text-decoration: underline;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}